.img-container {    
    display: flex;
    flex-direction: column;
}

.img-label {
    align-self: center;
    border-width: 1px;
    background-color: #ffffff;
    border-style: solid;
    border-color: #ccc;
    display: flex;
    padding: 12px;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}